<!DOCTYPE html>
<html class="overflow-y-scroll" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="description" content="{% if description %}{{ description }}{% else %}Your site description{% endif %}"/>
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{% if title %}{{ title }}{% else %}Websites for small business{% endif %}</title>
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="flex flex-col bg-primary-green mx-8 min-h-screen">
    {% include "navigation.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>