<!DOCTYPE html>
<html class="overflow-y-scroll" lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="keywords" content="strony internetowe, strony www, strony dla firm, strony dla małych firm, tworzenie stron, strony wizytówki, strony internetowe lokalne, tani web design, LeafCode">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:title" content="Strony internetowe dla małych firm – LeafCode" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="https://www.leafcode.me" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/favicon/favicon-32x32.png" />
    <meta property="og:logo" content="/assets/favicon/favicon-32x32.png" />
    <title>{% if title %}{{ title }}{% else %}Websites for small business{% endif %}</title>
    <link rel="canonical" href="https://www.leafcode.me" />
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "LeafCode",
        "url": "https://www.leafcode.me",
        "description": "Nowoczesne i proste strony internetowe dla lokalnych firm w Polsce.",
        "email": "hi@geodev.me",
        "telephone": "+48603556132",
        "address": {
          "@type": "PostalAddress",
          "addressCountry": "PL"
        },
        "areaServed": "PL",
        "keywords": "strony internetowe, strony www dla firm, tworzenie stron, LeafCode"
      }
      </script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    {% include "navigation.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>