<footer class="flex items-center justify-between p-4 mt-auto bg-secondary-green h-[100px] rounded-md">
  <div class="flex gap-8">
    <a href="mailto=hi@geodev.me" class="flex gap-4">{% svgIcon 'mail.svg' %} hi@geodev.me</a>
    <a href="tel:603556132" class="flex gap-4">{% svgIcon 'phone.svg' %} 603 556 132</a>
    <p class="flex gap-4">{% svgIcon 'map.svg' %} Gdynia</a>
  </div>
  <p>
    Copyright © 2025 Geodev Michał Muszyński. All rights reserved. 
  </p> 
</footer>