<header class="py-4 my-4 bg-secondary-green rounded-md">
  <navbar class="w-full h-full">
    <ul class="text-xl font-bold flex justify-center gap-4">
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="/">Home</a></li>
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="#services">Usługi</a></li>
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="#portfolio">Portfolio</a></li>
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="#contact">Kontakt</a></li>
    </ul>
  </navbar>
</header>