<header class="py-4 mb-4 sticky top-0">
  <navbar class="w-full h-full">
    <ul class="text-xl font-bold flex justify-center gap-8 text-dark-primary">
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="/">home</a></li>
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="#services">oferta</a></li>
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="#portfolio">portfolio</a></li>
      <li class="cursor-pointer hover:text-accent transition-colors duration-300 ease-in-out"><a href="#contact">kontakt</a></li>
    </ul>
  </navbar>
</header>