---
layout: default
title: "Simple websites"
script: index.js
---
<main>
  <section>
    {% include "partials/section-code.njk" %}
  </section>
  <section>
    {% include "partials/section-hero.njk" %}
  </section>
  <section>
    {% include "partials/section-services.njk" %}
  </section>
  <section id="portfolio">
    {% include "partials/section-portfolio.njk" %}
  </section>
  <section id="contact">
    {% include "partials/section-contact.njk" %}
  </section>

</main>