---
layout: default
title: "Simple websites"
---
<main class="bg-primary-green border-4">
  <section>
    {% include "partials/section-services.njk" %}
  </section>
  <section>
    {% include "partials/section-portfolio.njk" %}
  </section>
</main>