---
layout: default
title: "Strony internetowe dla małych firm – LeafCode"
description: "Jestem samodzielnym twórcą stron internetowych – tworzę ręcznie kodowane witryny bez użycia kreatorów i Wordpress. Oferuję nowoczesne, szybkie strony, które pomagają małym firmom zaistnieć w internecie i przyciągać klientów."
script: index.js
---
<main>
  <section>
    {% include "partials/section-code.njk" %}
  </section>
  <section>
    {% include "partials/section-hero.njk" %}
  </section>
  <section>
    {% include "partials/section-services.njk" %}
  </section>
  <section id="portfolio">
    {% include "partials/section-portfolio.njk" %}
  </section>
  <section id="contact">
    {% include "partials/section-contact.njk" %}
  </section>

</main>