<div class="flex relative items-center py-4 px-8 md:px-16 h-[400px] overflow-hidden mt-24" id="hero">
  <div class="text-center w-full md:w-3/5 m-auto z-10">
    <h2 class="mb-4">proste strony dla małych działalności</h2>
    <p>Ręcznie tworzone strony wykorzystujące wyłącznie HTML, CSS i JavaScript. Bez WordPressa, bez kreatorów stron - tylko czysty, szybki i responsywny design dopasowany do potrzeb Twojej działalności.</p>
  </div>
  <div class="absolute bottom-[-100%] left-1/2 -translate-x-1/2 w-[100%] h-[800px] bg-primary-green rounded-[30%] md:rounded-[50%]"></div>
</div>