<div class="flex items-center justify-center m-auto p-2 h-[250px] relative mx-4">
  <div class="h-[450px] absolute md:m-0 w-full md:w-2/5 top-0 z-10 bg-white shadow-xl rounded-xl">
    <div class="typewriter-container">
      <code id="typewriter"></code><span class="cursor"></span>
    </div>
  </div>
</div>