<div class="flex items-center justify-center m-auto p-2 h-[300px] relative mx-4 mt-16">
  <div class="min-h-[420px] md:min-h-[430px] absolute md:mt-8 w-7/8 md:w-[500px] top-0 z-10 bg-white shadow-[0px_4px_10px_0px_rgba(0,_0,_0,_0.1)] rounded-xl">
    <div class="typewriter-container"><code id="typewriter"></code><span class="cursor"></span></div>
  </div>
</div>