<div class="bg-primary-green p-8 md:p-16">
  <h2 class="text-center">{{ site.contact }}</h2>
  <div class="flex flex-col md:flex-row gap-16 md:gap-32 w-full mt-8 md:mt-16">
    <div class="w-full md:w-1/2">
      <div>
        <form class="w-full md:w-4/5">
          <div class="flex flex-col mb-4">
            <input class="border border-4 border-dark-primary placeholder-dark-primary focus:outline-none focus:border-white transition-border duration-300 rounded pl-4 h-[50px]" type="text" id="name" name="name" placeholder="imię" required>
          </div>
          <div class="flex flex-col mb-4">
            <input class="border border-4 border-dark-primary placeholder-dark-primary focus:outline-none focus:border-white transition-border duration-300 rounded pl-4 h-[50px]" type="email" id="email" name="email" placeholder="email" required>
          </div>
          <div class="flex flex-col mb-4">
            <textarea
              placeholder="wiadomość"
              class="border border-4 border-dark-primary placeholder-dark-primary focus:outline-none focus:border-white transition-border duration-300 rounded pl-4 py-4"
              id="message"
              name="message"
              rows="10"
              cols="10"
              required></textarea>
          </div>
          <button type="submit" class="p-2 font-bold px-8 border-dark-primary border-4 cursor-pointer rounded hover:bg-dark-primary hover:text-primary-green transition duration-300">{{ site.form.send }}</button>
        </form>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <p class="mb-8">Wyślij nam e-mail i powiedz nam, czego oczekujesz od nowej witryny. Odpowiadamy wszystkim w ciągu 24 godzin od skontaktowania się z nami. Możesz też do nas zadzwonić i natychmiast porozmawiać. Jeśli nie będziemy dostępni, oddzwonimy tego samego dnia.</p>
      <div class="flex flex-col gap-8">

        <div class="flex items-center">
          <div class="flex items-center justify-center bg-dark-primary rounded-full w-[55px] h-[55px] text-primary-green">
            {% svgIcon 'phone.svg' %}
          </div>
          <div class="flex flex-col gap-2 ml-8">
            <p class="font-bold">numer telefonu</p>
            <a href="phone:603556132">603 556 132</a>
          </div>
        </div>
        <div class="flex items-center">
          <div class="flex items-center justify-center bg-dark-primary rounded-full w-[55px] h-[55px] text-primary-green">
            {% svgIcon 'map.svg' %}
          </div>
          <div class="flex flex-col gap-2 ml-8">
            <p class="font-bold">lokalizacja</p>
            <p>Gdynia</p>
          </div>
        </div>

        <div class="flex items-center">
          <div class="flex items-center justify-center bg-dark-primary rounded-full w-[55px] h-[55px] text-primary-green">
            {% svgIcon 'mail.svg' %}
          </div>
          <div class="flex flex-col gap-2 ml-8">
            <p class="font-bold">email</p>
            <a href="mailto:hi@geodev.me">hi@geodev.me</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>