<div class="bg-primary-green py-4 px-8" id="services">
  <h2 class="my-16 text-center">oferta</h2>
    <div class="flex flex-wrap md:flex-nowrap justify-center md:justify-center items-start gap-8 md:gap-32">
    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-green">
        {% svgIcon 'pencils.svg' %}
      </div>
      <p class="my-4 font-bold">tworzenie responsywnych stron internetowych</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-green">
        {% svgIcon 'server.svg' %}
      </div>
      <p class="my-4 font-bold">hosting i rejestracja domeny</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-green">
        {% svgIcon 'maintenance.svg' %}
      </div>
      <p class="my-4 font-bold">utrzymanie, zarządzanie i rozbudowa strony</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-green">
        {% svgIcon 'code.svg' %}
      </div>
      <p class="my-4 font-bold">projektowanie strony lub  wdrożenie Twojego projektu</p>
    </div>
  </div>
  <h2 class="my-16 text-center">opcje współpracy</h2>
  <div class="flex flex-wrap md:flex-nowrap justify-center items-start gap-8 md:gap-32 xl:max-w-[75%] m-auto">
    <div class="flex flex-col block bg-[#6b8377] min-h-[550px] max-h-[600px] w-full lg:w-1/3 xl:w-1/3 p-8 text-white rounded-md cursor-pointer transition-all duration-300 hover:shadow-lg hover:shadow-black/20">
      <p class="text-2xl text-white-light font-bold mb-4">Opcja jednorazowa</p>
      <p class="text-2xl text-white-light font-bold mb-4">od 3500 zł</p>
      <ul class="offer-list">
        <li class="my-4">Jednorazowa opłata za wykonanie strony</li>
        <li class="my-4">Do 5 podstron</li>
        <li class="my-4">Responsywny design</li>
        <li class="my-4">Pomoc z domeną i hostingiem</li>
        <li class="my-4">Projekt graficzny</li>
      </ul>
      <a href="#contact" class="text-center mt-auto w-full p-2 font-bold px-8 text-white border-white border-4 cursor-pointer rounded hover:bg-white  hover:text-primary-green transition duration-300">{{ site.contact_me }}</button>
    </div>

    <div class="flex flex-col block bg-[#6b8377] min-h-[550px] max-h-[600px] w-full lg:w-1/3 xl:w-1/3 p-8 text-white rounded-md cursor-pointer transition-all duration-300 hover:shadow-lg hover:shadow-black/20">
      <p class="text-2xl text-white-light font-bold mb-4">Opcja ze wsparciem</p>
      <p class="text-2xl text-white-light font-bold mb-4">od 4500 zł</p>
      <ul class="offer-list">
        <li class="my-4">Do 5 podstron</li>
        <li class="my-4">Responsywny design</li>
        <li class="my-4">Pomoc z domeną i hostingiem</li>
        <li class="my-4">Projekt graficzny</li>
        <li class="my-4">Aktualizacje i edycja treści przez cały czas trwania współpracy</li>
        <li class="my-4">
          Umowa zawierana na 12 miesięcy
        </li>
      </ul>
      <a href="#contact" class="text-center mt-auto w-full p-2 font-bold px-8 text-white border-white border-4 cursor-pointer rounded hover:bg-white hover:text-primary-green transition duration-300">{{ site.contact_me }}</button>
    </div>
  </div>
</div>