<div class="bg-primary-brown py-4 px-8" id="services">
  <div class="flex flex-wrap md:flex-nowrap justify-center md:justify-center items-start gap-8 md:gap-32">
    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full">
        {% svgIcon 'computer.svg' %}
      </div>
      <p class="my-4 font-bold">proste technologie</p>
      <p>Ręcznie kodowane strony działają szybciej i bezpieczniej. Zero zbędnych wtyczek, tylko czysty i wydajny kod.</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full">
        {% svgIcon 'palette.svg' %}
      </div>
      <p class="my-4 font-bold">bez kreatorów stron</p>
      <p>Każda strona budowana jest od podstaw, bez wtyczek i szablonów. Unikalny design dopasowany do Twojej działalności.</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full">
        {% svgIcon 'smartphone.svg' %}
      </div>
      <p class="my-4 font-bold">responsywność</p>
      <p>Projektujemy z myślą o urządzeniach mobilnych, dzięki czemu Twoja witryna internetowa dostosuje się płynnie do wszystkich rozmiarów ekranów.</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full">
        {% svgIcon 'rocket-launch.svg' %}
      </div>
      <p class="my-4 font-bold">szybkość i niezawodność</p>
      <p>Nasze strony są całkowicie pozbawione zbędnych elementów, dzięki czemu osiągają wyniki prędkości 98-100/100 w testach Google.</p>
    </div>
  </div>

  <h2 class="my-16 text-center">oferta</h2>
    <div class="flex flex-wrap md:flex-nowrap justify-center md:justify-center items-start gap-8 md:gap-32">
    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-brown">
        {% svgIcon 'star.svg' %}
      </div>
      <p class="my-4 font-bold">tworzenie responsywnych stron internetowych</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-brown">
        {% svgIcon 'star.svg' %}
      </div>
      <p class="my-4 font-bold">hosting i rejestracja domeny</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-brown">
        {% svgIcon 'star.svg' %}
      </div>
      <p class="my-4 font-bold">utrzymanie, zarządzanie i rozbudowa strony</p>
    </div>

    <div class="flex flex-col items-center justify-center w-[200px] text-center">
      <div class="flex items-center justify-center w-[80px] h-[80px] bg-dark-primary rounded-full text-primary-brown">
        {% svgIcon 'star.svg' %}
      </div>
      <p class="my-4 font-bold">projektowanie strony lub  wdrożenie Twojego projektu</p>
    </div>
  </div>
</div>